/.directory
/dist
/build
/__pycache__
/.idea
/git_commit_sha.txt
/GUI_main_window.py
/GUI_about_dialog.py
/GUI_com_statistics_dialog.py
/GUI_com_settings_dialog.py
/GUI_log_dialog.py
/GUI_automatic_measurements_dialog.py
